.newsletter__entry {
    width: 173px;
    height: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 50px 122px 17px 122px;
}
.newsletter__title {
    width: 244px;
    height: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 17px 87px 21px 87px;
}
.newsletter__text {
    width: 370px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
    margin: 27px 25px 90px 25px;
}
.newsletter__image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    height: 420px;
    width: 418px;
}
.newsletter__subscribe {
    width: 276px;
    height: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 30px 71px 10px 71px;
}
.newsletter__text2 {
    width: 300px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #374754;
    margin: 10px 58px 34px 58px;
}
.newsletter__mail {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: central;
    padding: 19px 35px;
    width: 353px;
    height: 54px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;  
    margin: 34px 32px 0px 32px;
}
.newsletter__button {
    display: flex;
    align-items: center;
    padding: 17px 35px;
    width: 353px;
    height: 54px;
    background: #2091F9;
    border-radius: 35px;
    margin: 0px 32px 80px 32px;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}